.contact-container {
  /* background-color: #282828; */
  background-color: var(--bg-light);
  color: var(--text-light);
  transition: background-color 0.5s ease, color 0.5s ease;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-fondo {
  width: 600px;
  height: 600px;
  right: 8%;
  position: relative;
}

.contact-section {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
}

.contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 8rem;
  gap: 2rem;
}

.contact-info h1 {
  font-size: 1rem;
  font-family: "Poppins", serif;
  color: var(--text-light);
  transition: background-color 0.5s ease, color 0.5s ease;
  letter-spacing: 5px;
}

.contact-info-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-info-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: var(--text-light);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.contact-info-item svg {
  color: #6a5acd;
}

.form-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 40px;
}

.form-section h1 {
  font-size: 2rem;
  font-family: "Poppins", serif;
  color: var(--text-light);
  transition: background-color 0.5s ease, color 0.5s ease;
  letter-spacing: 5px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}

.form-content input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #3c3f50;
  color: white;
  font-size: 16px;
}

.form-content input::placeholder {
  color: #bbb;
  text-transform: capitalize;
}

.form-message textarea {
  width: 100%;
  height: 100px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #3c3f50;
  color: white;
  font-size: 16px;
  resize: none;
  overflow-y: auto;
}

.form-message textarea::placeholder {
  color: #bbb;
  text-transform: capitalize;
}

.form-send input {
  background-color: #6053a7;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.form-send input:hover {
  background-color: #4a3c8c;
}

@media (max-width: 480px) {
  .contact-section {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-around;
    position: absolute;
  }

  .contact-info {
    width: 100%;
    display: flex;  
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
  }

  .contact-info h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 40px;
    padding-top: 2%;
  }

  .form-section h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 480px) and (max-width: 991.98px) and (orientation: portrait) {
  .contact-section {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-around;
    position: absolute;
  }

  .contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
  }

  .contact-info h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 40px;
    padding-top: 2%;
  }

  .form-section h1 {
    font-size: 1.5rem;
  }
}
