@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light: #e1e1e1;
  --bg-dark: #282828;
  --text-light: #282828;
  --text-dark: #e1e1e1;
  --font-family: var(--font-poppins);

  transition: background-color 0.5s ease, color 0.5s ease;
}

.light {
  background-color: var(--bg-light);
  color: var(--text-light);
}

.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family), sans-serif;
}
